html {
    margin: 0; 
}
span {
display: block;
}


.center {
    text-align: center;
    margin: 100px auto 100px;
    width: 80%
}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    
}

#red {
    background: red;
}

#green {
    background: green;
}

#blue {
    background: blue;
}

