html {
    margin: 0; 
}
span {
display: block;
}


.center {
    text-align: center;
    margin: 100px auto 100px;
    width: 80%
}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 60%;
    
}

h1 {
    color: darkslategray;
}

h2 {
    color: darkslategrey;
}

#red {
    background: red;
}

#green {
    background: green;
}

#blue {
    background: blue;
}

#gray {
    background: gray;
}

#black {
    background: black;
}